@import url("theme.css");

header {
    margin: 0 15px;
    margin-top: 25px;
    padding: 35px 40px;
    border-radius: 12px;
    background: var(--card-bg);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

header .start {
    width: 80%;
    max-width: 900px;
}

header .end {
    display: flex;
    width: 464px;
    min-height: 20em;
    max-height: 20em;
    column-gap: 24px;
    translate: 100px;
}

header .end .images {
    position: absolute;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
}

header .end .images {
    position: relative;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
}

header .end .images:first-child {
    translate: 0 -30%;
}


header .end .images:last-child {
    translate: 8% -15%;
}

header .end .images img {
    height: 1900px;
    width: 1900px;
}

.box {
    padding: 1em !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px !important;
}

.features {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 1.5em;
}

.feature {
    text-align: center;
}

.feature.active .box {
    background: var(--active-background);
    color: var(--background)
}

.feature .icon {
    font-size: 1.5em;
}

.searchbar {
    max-width: 700px;
}

.section.landing {
    display: flex;
    gap: .5em;
    max-width: 1500px;
    margin: auto;
    justify-content: center;
}

.explain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 2em;
    border: var(--card) .55px solid;
    flex: 1;
    border-radius: 20px;
}

.explain img {
    max-width: 6em;
    /*width: max-content !important;*/
    margin-bottom: .5em;
}

.explain .title {

}

.explain .subtitle {
    font-size: .9em;
}
